*.pyc
*.pyo
__pycache__
db.sqlite3
!*/migrations/__init__.py
!*/notes/__pycache__
!*/notes/__init__.py
!*/NotesSharingProject/__init__.py
!*/NotesSharingProject/__pycache__
*.sqlite3
!*/__pycache__/__init__.cpython-310