{% extends 'navigation.html'%}
{% load static %}
{% block body %}

<section class="about" id="about">

    <div class="image">
        <img src="{% static 'images/Learning-amico.png' %}" alt="">
    </div>

    <div class="content">
        <h3>All About Athena , Notes Sharing Made Easy.</h3>
        <p>ATHENA provides an easy approach for both
			students and teachers to circulate the notes whether of any kind like
			lecture notes, assignment questions, question papers and all the
			important documents.</p>
        <p>The teachers and students can upload the documents from anywhere
			and students can download it. Overall it is managed by the admin.</p>

    </div>

</section>
{% endblock %}